<style>
  .aviso {
    color: red;
  }
</style>

<p>Nombre: {{solicitud.nombre}} </p>

<p [style.color]="+solicitud.valor > 0.5 ? 'red' : 'blue'">Valor: {{solicitud.valor}} </p>

<hr>

<!-- Ejercicio 5 -->
<div>
  <button (click)="saludar('Hola mundo!!!')">Saluda</button>
</div>

<hr>

<!-- Ejercicio 6 -->
<h1>Solicitud de comedor</h1>
<h2>Nueva solicitud</h2>
<div>
  <label>Nombre: </label>
  <input [value]="solicitud.nombre" (keyup)="actualizarNombre($event)" placeholder="Introduce tu nombre">
</div>
<div>
  <label>Apellidos: </label>
  <input [value]="solicitud.apellidos" (keyup)="actualizarApellidos($event)" placeholder="Introduce tus apellidos">
</div>
<div>
  <!-- Ejercicio 7 -->
  <p class="aviso" *ngIf="validaFormu()" >Los campos no pueden estar vacíos</p>
  <button (click)="enviar()" [disabled]="validaFormu()">Enviar</button>
</div>

<hr>

<!-- Ejercicio 8 -->
<h1>Lista de solicitudes</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
  </tr>
  <tr *ngFor="let solicitud of solicitudes">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
  </tr>
</table>
