<style>
  .aviso {
    color: red;
  }
</style>

<p>Nombre: {{solicitud.nombre}} </p>

<p [style.color]="+solicitud.valor > 0.5 ? 'red' : 'blue'">Valor: {{solicitud.valor}} </p>

<hr>

<!-- Ejercicio 5 -->
<div>
  <button (click)="saludar('Hola mundo!!!')">Saluda</button>
</div>

<hr>

<!-- Ejercicio 6 -->
<h1>Solicitud de comedor</h1>
<h2>Nueva solicitud</h2>
<div>
  <label>Nombre: </label>
  <input [value]="solicitud.nombre" (keyup)="actualizarNombre($event)" placeholder="Introduce tu nombre">
</div>
<div>
  <label>Apellidos: </label>
  <input [value]="solicitud.apellidos" (keyup)="actualizarApellidos($event)" placeholder="Introduce tus apellidos">
</div>
<div>
  <!-- Ejercicio 7 -->
  <p class="aviso" *ngIf="validaFormu()" >Los campos no pueden estar vacíos</p>
  <button (click)="enviar()" [disabled]="validaFormu()">Enviar</button>
</div>

<hr>

<!-- Ejercicio 8 -->
<h1>Lista de solicitudes</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
  </tr>
  <tr *ngFor="let solicitud of solicitudesOld">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
  </tr>
</table>

<hr>

<!-- Ejercicio 9/10 -->
<app-centro [centroInicial]="centro"></app-centro>

<hr>

<!-- Ejercicio 11 -->
<h1>Selecciona centro</h1>
<app-selector-centro></app-selector-centro>

<hr>

<!-- Ejercicio 12 -->
<h1>Solicitudes</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Fecha Nacimiento</th>
  </tr>
  <tr *ngFor="let solicitud of solicitudes">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
    <td>{{solicitud.nacimiento  | date: 'dd/MM/yyyy'}}</td>
  </tr>
</table>

<hr>

<!-- Ejercicio 13 -->
<h1>Solicitudes (borrar fila)</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Fecha Nacimiento</th>
    <th>Acción</th>
  </tr>
  <tr *ngFor="let solicitud of solicitudes">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
    <td>{{solicitud.nacimiento  | date: 'dd/MM/yyyy'}}</td>
    <td><app-fila-solicitud [solicitud]="solicitud" (solicitudBorrada)="borrarSolicitud(solicitud)"></app-fila-solicitud></td>
  </tr>
</table>

<hr>

<!-- Ejercicio 14 -->
<h1>Lista de solicitudes (usa servicio)</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
  </tr>
  <tr *ngFor="let solicitud of solicitudes">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
  </tr>
</table>

<hr>

<!-- Ejercicio 15 -->
<h1>Lista de solicitudes (usa httpClient)</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
  </tr>
  <tr *ngFor="let solicitud of solicitudes">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
  </tr>
</table>
